-i https://pypi.org/simple

# Common
# -----------------------
setuptools
wheel

# Project
# -----------------------
httpx==0.13.*
markdownify==0.4.*
scrapy==2.1.*
Pillow==7.1.*

# Development
# -----------------------
black==19.10b0
flake8==3.8.*
pre-commit==2.5.*

# Documentation
# -----------------------
sphinx==3.1.*
sphinx-autodoc-typehints==1.11.*
sphinx-copybutton==0.2.*
sphinx-markdown-tables==0.0.*  # to render markdown tables
sphinx-rtd-theme==0.5.*
recommonmark==0.6.*
